<div class="container">
  <div class="row text-center my-3">
      <div class="col-12">
          <h1>Coinbase Wallet Integration</h1>
      </div>
  </div>

  <div class="row mb-5">
      <div class="col-1">&nbsp;</div>
      <div class="col-10">
          <div class="center-wrapper">
              <div class="row align-items-end">
                  <div class="col-3">
                      <button type="button" class="btn btn-primary btn-balance mt-3" (click)=fun_Connect_Wallet()>Connect Wallet&nbsp;<i class="fa fa-spin fa-spinner d-none"></i></button>
                  </div>
                  <div class="col-12">
                      <div class="bal-wrapper">
                          <div class="balance"></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-1">&nbsp;</div>
  </div>
</div>